.dragger {
	height: 50px;
	width: 100px;
	border: 2px black solid;
	background-color: aqua;
	margin-top: 5px;
}

.dragger:hover {
	cursor: grabbing;
}

.btn-container {
	margin-top: 35rem;
}

.btn {
	height: 50px;
	width: 100px;
}
